<%# here we show the detailed view of a post %>
    <%- include('partials/header') %>
        <h1>
            <%= post.title %>
        </h1>

        <p>
            <%= post.content %>
        </p>

        <%- include('partials/footer') %>